body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding: 2rem;
}

main {
  max-width: 960px;
  background: #fff;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.cabeçalho {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.titulo h1 {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}

.titulo p {
  font-size: 1.125rem;
  text-align: end;
  margin-right: 1rem;
  color: #777;
}

.contato {
  border-top: 1px solid #b3b3b3;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3rem;
  gap: 2rem;
  font-size: 0.875rem;
  text-align: left;
  margin-left: auto;
  margin-right: 0.625rem;
}

/* Seção principal */
.principal_coluna {
  display: grid;
  grid-template-columns: 30% 64%;
  gap: 3rem;
}

.coluna-direita {
  text-align: justify;
}

.endereço {
  font-size: 0.875rem;
  color: #555;
}

img {
  width: 100px;
}

.seção-perfil,
.seção {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.seção-perfil {
  border-bottom: 2px solid #6b6b6b;
}

.seção {
  border-bottom: 2px solid #fdd835;
}

.edu-item,
.job-item {
  display: contents;
}

.data {
  margin-top: 1.875rem;
  font-size: 0.8125rem;
  color: #777;
}

.edu-nome,
.job-nome {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

p {
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}

@media (max-width: 1024px) {

  .cabeçalho {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .titulo h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .titulo p {
    font-size: 1rem;
    margin: 0.5rem auto 1rem auto;
    text-align: center;
  }

  .contato {


    text-align: center;
    gap: 0.625rem;
    margin-top: 2rem;
  }

  .principal_coluna {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.seção-perfil,
.seção {
  font-weight: bold;
  font-size: 1.8rem;

}
}
